.custom-carousel-style {
    --paper-slide-dot-styles: {
        margin: 3px;
        width: 7px;
        height: 7px;
    };

    --paper-slider-dot-container-styles: {
        bottom: 0px;
    };

    --paper-slide-dot: rgb(95, 95, 95);
    --paper-slide-dot-selected: rgb(161, 163, 154);
}
